<div class="app__set-locale" {{action "toggleLocale"}}><span>{{i18n.locale}}</span></div>
<div class="wrap">
  <nav class="d-nav">
    <!--<img class="d-nav__portrait" src="assets/images/self-portrait.png" alt="">-->
    {{#link-to "index" }}
      <h1 class="d-nav__site-title">hakilebara</h1>
    {{/link-to}}
    <ul class="d-nav__nav-list">
      <li class="d-nav__nav-item">
        {{#link-to "index" class="d-nav__nav-link"}}
          <span class="d-nav__nav-link-title">
            {{!fa-icon "home" size=2}}
            <svg class="d-nav__icon-home" width="26px" height="26px">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-nav-home"></use>
            </svg>
            <span>Home</span>
          </span>
        {{/link-to}}
      </li>
      <li class="d-nav__nav-item">
        {{#link-to "about" class="d-nav__nav-link"}}
          <span class="d-nav__nav-link-title">
            <svg class="d-nav__icon-about" width="26px" height="26px">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-nav-about"></use>
            </svg>
            <span>About</span>
          </span>
        {{/link-to}}
      </li>
      <li class="d-nav__nav-item">
        {{#link-to "work" class="d-nav__nav-link"}}
          <span class="d-nav__nav-link-title">
            <svg class="d-nav__icon-work" width="26px" height="26px">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-nav-work"></use>
            </svg>
            <span>Work</span>
          </span>
        {{/link-to}}
      </li>
      <li class="d-nav__nav-item">
        {{#link-to "portfolio" class="d-nav__nav-link"}}
          <span class="d-nav__nav-link-title">
            <svg class="d-nav__icon-work" width="26px" height="26px">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-nav-portfolio"></use>
            </svg>
						<span>Portfolio</span>
					</span>
        {{/link-to}}
      </li>
      <li class="d-nav__nav-item">
        {{#link-to "blog" class="d-nav__nav-link"}}
          <span class="d-nav__nav-link-title">
            <svg class="d-nav__icon-blog" width="26px" height="26px">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-nav-blog"></use>
            </svg>
            <span>Blog</span>
          </span>
        {{/link-to}}
      </li> <li class="d-nav__nav-item">
        {{#link-to "contact" class="d-nav__nav-link"}}
          <span class="d-nav__nav-link-title">
            <svg class="d-nav__icon-contact" width="26px" height="26px">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-nav-contact"></use>
            </svg>
            <span>Contact</span>
          </span>
        {{/link-to}}
      </li>
      <!--
      <li class="d-nav__nav-item">
        <div class="d-nav__nav-link" {{!action "toggleLocale"}}>
          <span class="d-nav__nav-link-title">
            {{!t 'nav.switch_language' }}
          </span>
        </div>
      </li>
      -->
      <li class="d-nav__nav-item">
        {{!#link-to "temp" class="d-nav__nav-link"}}
        <span class="d-nav__social-icons">

          <a target="_blank" href="https://twitter.com/hakilebara">
            <svg class="d-nav__icon-twitter" width="26px" height="26px">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-nav-twitter"></use>
            </svg>
          </a>

          <a target="_blank" href="https://www.behance.net/fredericsob02f">
            <svg class="d-nav__icon-behance" width="26px" height="26px">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-nav-behance"></use>
            </svg>
          </a>

        </span>
        <span class="d-nav__copyright">&copy; 2017 Hakile</span>
        {{!/link-to}}
      </li>
    </ul>
  </nav>
  <main class="d-main">
    {{liquid-outlet}}
  </main>
</div>
<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" display="none">
	<symbol id="icon-nav-about" viewBox="0 0 64 68">
  <path d="M32.64 47.18c-.5-.52-.84-.9-.64-1.12.37-.43 3.15.66 3.8 1.64.68.98.9 4.06.32 4.2-.42.1-.8-.88-1.36-1.96-.57.75-1.6 1.7-3.2 2.6-3 1.7-8.24 2.64-11.22 2.64-5.62 0-9.5-2.04-11.1-3.44-.1 1-.08 1.87-.43 1.92-.4.06-1.1-2.53-.9-3.48.2-.94 1.9-2.43 2.3-2.22.3.12.1.53-.1 1.1.1 0 .2 0 .3.03 2.86.3 7.1 1.8 10.4 1.5 3.3-.3 6.88-1.9 10.16-2.9.7-.2 1.33-.4 1.8-.6zm.56.56c-2.48 1.18-10.85 3.9-12.88 3.9-2 0-8.58-1.22-10.62-1.9-.12.3-.23.6-.3.94 0 .04-.02.07-.03.1 1.57.94 5.05 3.54 10.97 3.54 3.37 0 6.6-.55 9.82-2.2 2-1 3.37-2.23 4.18-2.95l-.25-.37c-.3-.4-.6-.74-.9-1.06zM7.3 14.94C6.37 9.64 10.8 3.6 10.8 3.6S15.25 1.37 26.5.32c11.27-1.05 23 3.87 28.75 6.8 5.36 2.75 7.98 8.26 8.66 12.44.4 2.16-.4 5.77-1.2 8.75-.3 3.4-1.3 7-3.1 10.8 2.17.3 3.38 2.6 3.38 4.9 0 2.5-7.82 7.5-10.26 7.5-.16 0-.3 0-.4-.04-2.57 3.7-5 6.57-6.4 7.76-4.05 3.46-6.74 6.4-14.3 7.9C11 71.2 1.6 58.66.12 41.66c-.6-7.04 2.34-18.56 7.25-26.7zm-5.17 26.4C3.5 57.26 12.3 69 31.53 65.1c7.1-1.44 9.62-4.17 13.43-7.42 1.3-1.12 3.68-4.53 6.1-8 .1.04.57.3.72.3 2.28 0 8.8-4.13 8.8-6.4 0-2.1-2.12-2.95-4.13-3.23 1.47-3.12 3-6.65 3.7-9.75-.13-1.03-.23-2.44-.23-4.37 0-2.18-10-3.67-11.1-7.75-2.56-9.4-28.53-7.94-34.36-7.1-.98.13-1.8.4-2.5.75-6.4 7.24-10.5 21.25-9.83 29.2zM32.2 20.6c.94-.37 4.36 3.1 4.9 3.67.56.58-.4 1.02-.4 1.02s-5.27-2.7-5.53-3c-.25-.3.12-1.4 1.04-1.7zm-20.77 1.1c.7.28 1 1.08.8 1.32-.2.24-4.26 2.3-4.26 2.3s-.73-.33-.3-.78c.4-.45 3.04-3.1 3.76-2.83zM8.9 36.28c-.97-.2-1.4-2.05-.94-4.13.44-2.08 1.57-3.6 2.53-3.4.9.2 1.3 2.06.9 4.14-.5 2-1.6 3.6-2.6 3.4zm22.14-.12c-1.08-.35-1.34-2.53-.58-4.86.76-2.35 2.25-3.96 3.33-3.6 1 .35 1.3 2.52.5 4.86-.8 2.33-2.3 3.94-3.4 3.6zM19.4 62.5c-.88-.42-2.46-3-1.98-3.3.48-.27 1.67 1.14 2.9 1.74 1.23.6 3.27.05 3.23.53-.05.48-3.28 1.44-4.16 1.02zm-3.82-23.13c0 .48 1.83 2.47 3.25 3.93-.52.9-.9 1.46-1.04 1.46-.7 0-4-4.2-4-4.72 0-.5 5.9-11.1 5.9-11.1l1 .36c-1.4 2.47-5.26 9.42-5.26 10.07z"/>
	</symbol>
	<symbol id="icon-nav-home" viewBox="0 0 64 78">
    <polygon id="Path-3" points="60.9307491 75.2799765 3.06142298 75.2229687 30.0081555 20.1627072 28.3256335 19.3392735 0.0605970833 77.0932255 63.941596 77.1561555 26.2934968 0.642009961 24.6127283 1.46901702"></polygon>
    <path d="M28.8311389,49.1544426 L30.5119714,48.3275657 L44.6968205,77.1561555 L19.442947,77.1312775 L30.9358169,53.4335594 L28.8311389,49.1544426 Z M22.4318684,75.261009 L41.6859735,75.2799765 L31.9846919,55.5635687 L22.4318684,75.261009 Z" id="Path-3"></path>
    <polygon points="32.8172146 14.016349 32.8172146 0.0625408417 30.9440026 0.0625408417 30.9440026 14.016349"></polygon>
    <polygon points="32.3521741 14.8701647 39.4062362 0.89814831 37.734055 0.0539129615 30.6799929 14.0259293"></polygon>
  </symbol>
	<symbol id="icon-nav-work" viewBox="0 0 64 64"><path d="M0 64h64.414L0-.414V64zm2-9h6v-2H2v-6h4v-2H2v-6h6v-2H2v-6h4v-2H2v-6h6v-2H2V4.414L59.586 62H2v-7z"></path><path d="M13 27.586V55h27.414L13 27.586zm2 4.828L35.586 53H15V32.414zM64.375 46.375l-2.472-9.886L25-.414 17.586 7l36.903 36.903 9.886 2.472zm-2.75-2.75l-6.114-1.528L26.414 13 31 8.414l29.097 29.097 1.528 6.114zM25 2.414L29.586 7 25 11.586 20.414 7 25 2.414z"></path></symbol>
<symbol id="icon-nav-gallery" viewBox="0 0 64 64"><path d="M0 54h64V10H0v44zm2-2v-4.544l21.952-19.09 12.156 12.156 6.051-8.068L62 49.459V52H2zm60-40v34.826l-20.16-17.28-5.949 7.932-11.843-11.844L2 44.805V12h60z"></path></symbol>
<symbol id="icon-nav-portfolio" viewBox="0 0 64 64"><path d="M0 54h64V10H0v44zm2-2v-4.544l21.952-19.09 12.156 12.156 6.051-8.068L62 49.459V52H2zm60-40v34.826l-20.16-17.28-5.949 7.932-11.843-11.844L2 44.805V12h60z"></path><path d="M51 28c3.309 0 6-2.691 6-6s-2.691-6-6-6-6 2.691-6 6 2.691 6 6 6zm0-10c2.206 0 4 1.794 4 4s-1.794 4-4 4-4-1.794-4-4 1.794-4 4-4z"></path></symbol>
<symbol id="icon-nav-blog" viewBox="0 0 37 75">
	<path d="M2 72.009c0 .27.015.506.042.703.156-.13.329-.298.514-.502L16.35 57.022a2.89 2.89 0 0 1 4.3 0L34.444 72.21c.185.204.358.372.514.503.027-.198.042-.434.042-.704V2H2v70.009zM0 0h37v72.009c0 3.309-1.808 4-4.037 1.546L19.169 58.367a.891.891 0 0 0-1.338 0L4.037 73.555C1.807 76.01 0 75.315 0 72.009V0z"/>
</symbol>
<symbol id="icon-nav-contact" viewBox="0 0 64 72">
<path d="M.003 12.153c0-4.202 1.393-7.09 4.065-8.94 2.023-1.4 4.333-2.071 8.422-2.748L13.626.28c.628-.101.99-.16 1.378-.227C19.4-.702 22.709 6.35 24.6 16.677c.571 3.116-.723 4.8-3.544 6.102-.266.123-1.121.496-1.168.517-1.453.65-1.593.843-1.144 1.674.773 1.428 3.175 5.917 3.648 6.789 1.171 2.162 2.018 3.654 2.841 4.985 1.042 1.685 2.043 3.097 3.183 4.477 1.751 2.119 3.923 4.268 7.2 7.135 2.54 2.222 4.257 3.08 5.346 2.967.7-.072 1.158-.497 2.049-1.79 1.455-2.115 2.394-2.863 4.187-2.6 4.724.69 11.23 4.39 14.465 8.566 4.247 5.482 2.837 11.095-5.279 15.275C39.07 79.691.003 37.801.003 12.154zM60.13 56.68c-2.924-3.774-8.978-7.217-13.212-7.836-.802-.117-1.242.234-2.201 1.626-1.308 1.9-2.086 2.623-3.554 2.776-1.765.183-3.914-.892-6.824-3.437-3.35-2.93-5.591-5.149-7.418-7.36-1.2-1.45-2.25-2.934-3.337-4.691-.846-1.369-1.71-2.89-2.897-5.08-.476-.878-2.879-5.368-3.648-6.79-1.146-2.119-.283-3.309 2.056-4.355.063-.028.904-.395 1.148-.508 2.108-.973 2.833-1.917 2.451-4C21.022 7.9 18.017 1.497 15.333 1.957c-.395.068-.763.129-1.397.231l-1.129.183C4.864 3.686 1.941 5.71 1.941 12.153c0 24.416 37.845 64.994 53.554 56.904 7.063-3.637 8.126-7.87 4.635-12.377z"/>
</symbol>
<symbol id="icon-nav-twitter" viewBox="0 0 64 54">
<path d="M56.4571176,8.43187967 C59.1691628,6.76784494 61.2501504,4.12927136 62.2305434,0.986094653 C59.6912878,2.52686755 56.8853353,3.64777983 53.8878117,4.24868126 C51.4988079,1.63321927 48.0843355,0 44.3055025,0 C37.0596089,0 31.1810069,6.02827395 31.1810069,13.4625032 C31.1810069,14.5179326 31.2936957,15.5425466 31.5190735,16.5286412 C20.6070357,15.9662591 10.9345755,10.6120733 4.45496617,2.45753277 C3.3243213,4.45283367 2.67823851,6.76784494 2.67823851,9.23308157 C2.67823851,13.9016234 4.99587268,18.0231909 8.51927763,20.4383525 C6.37067675,20.3728696 4.34227731,19.7604124 2.56930595,18.75891 L2.56930595,18.9245431 C2.56930595,25.4497163 7.09564173,30.8924965 13.1057141,32.1251149 C12.0051196,32.4409733 10.8444244,32.5989025 9.64616621,32.5989025 C8.80099977,32.5989025 7.97461482,32.518012 7.17452393,32.3600827 C8.84607532,37.7065647 13.6916962,41.6008682 19.4388279,41.7048703 C14.9462988,45.3179828 9.28180557,47.4712129 3.13275024,47.4712129 C2.07347498,47.4712129 1.0254686,47.409582 0,47.2863202 C5.81098875,51.0997331 12.7150594,53.3300018 20.12623,53.3300018 C44.2792084,53.3300018 57.4825862,32.8184627 57.4825862,15.0263877 C57.4825862,14.440894 57.4713173,13.8554003 57.4487796,13.2814624 C60.0143292,11.3824598 62.2418123,9.01352144 63.9960022,6.31331694 C61.6445614,7.3841541 59.1128184,8.10831736 56.4571176,8.43187967 Z"></path>
</symbol>
<symbol id="icon-nav-behance" viewBox="254 -129 65 41">
<path d="M295.9-122.33h16.94v-4.85H295.9v4.85zm4 10.6c-1.07 1.1-1.75 2.6-2.03 4.47h13.18c-.14-2-.83-3.52-2.04-4.57-1.2-1.03-2.72-1.55-4.53-1.55-1.96 0-3.48.55-4.56 1.65zm11.45-6.52c2.04.9 3.72 2.32 5.05 4.27 1.2 1.72 1.98 3.7 2.33 5.97.2 1.3.3 3.22.26 5.7h-21.32c.13 2.9 1.14 4.94 3.06 6.1 1.17.72 2.57 1.1 4.22 1.1 1.74 0 3.15-.46 4.24-1.34.6-.47 1.13-1.14 1.58-1.98h7.8c-.2 1.7-1.15 3.45-2.83 5.2-2.62 2.82-6.3 4.22-11 4.22-3.9 0-7.33-1.18-10.3-3.55-2.98-2.36-4.47-6.22-4.47-11.55 0-5 1.35-8.83 4.03-11.5 2.7-2.66 6.18-4 10.47-4 2.54 0 4.84.45 6.88 1.35zm-48.47 11.1v10.4h9.6c1.72 0 3.06-.24 4-.7 1.74-.85 2.6-2.46 2.6-4.86 0-2.05-.83-3.44-2.5-4.2-.95-.42-2.27-.65-3.96-.66h-9.74zm0-15.08v8.6h9.62c1.7 0 3.1-.3 4.18-.96 1.07-.63 1.6-1.77 1.6-3.4 0-1.83-.7-3.03-2.1-3.62-1.24-.4-2.8-.6-4.7-.6h-8.6zm21.48-2.6c1.2 1.65 1.8 3.63 1.8 5.94 0 2.4-.6 4.3-1.82 5.76-.68.8-1.7 1.55-3 2.22 2 .73 3.52 1.87 4.56 3.44 1.02 1.57 1.54 3.48 1.54 5.72 0 2.3-.6 4.4-1.77 6.22-.74 1.22-1.68 2.24-2.8 3.07-1.26.96-2.75 1.6-4.46 1.96-1.7.35-3.57.52-5.58.52H255V-129h19.1c4.83.07 8.25 1.46 10.26 4.16z"/>
</symbol>
<symbol id="icon-chevron-down" viewBox="0 0 68 33">
<path d="M.58 3.414l27.432 27.433c2.715 2.715 7.167 2.787 9.964.164L67.356 3.46 64.62.54 35.24 28.093c-1.222 1.146-3.212 1.114-4.4-.075L3.408.586.579 3.414z"/>
</symbol>
</svg>
