<vbox>
  <vbox>
    <centered vertical>
      <h1>system and network engineer turned coder</h1>
      <h1>web developer, emberjs enthusiast</h1>
    </centered>
  </vbox>
  <vbox></vbox>
  <vbox fit>2</vbox>
</vbox>
