<vbox class="nav__links">
  <a href="#" class="nav__link"> 
    <centered>WORK</centered>
  </a>
  <a href="#" class="nav__link"> 
    <centered>SERVICES</centered>
  </a>
  <a href="#" class="nav__link"> 
    <centered>CULTURE</centered>
  </a>
  <a href="#" class="nav__link"> 
    <centered>BLOG</centered>
  </a>
</vbox>
