<div class="portfolio__page">
  <div class="portfolio__container">
    <h1> CodeLife </h1>
    <img src="/assets/images/codelife__full.png" alt="">
    <img src="/assets/images/codelife__phone-case--full.png" alt="">
    <img src="/assets/images/codelife__tshirt--full.png" alt="">
  </div>
</div>
