<section class="page">
  <div class="page__content">
    <h1 class="page__title">Contact me</h1>

    <p>
      Email: <a href="mailto:fred@hakilebara.com">fred@hakilebara.com</a>
    </p>
    <p>
      Twitter: <a href="https://twitter.com/hakilebara">@hakilebara</a>
    </p>
  </div>
</section>
